<!DOCTYPE html>
<html>
    <head>
        <title>Basic File Upload</title>
    </head>
    <body>
        <html>
            <body>                
                <form ref='retrieveForm'
                    id='retrieveForm'
                    action='/retrieve'
                    method='get'>
                    <label for='fileName'>Retrieve File By Name: </label>
                    <input name='fileName' type='text' />
                    <input type='submit' value='Download!' />        
                </form>
            </body>
        </html>
    </body>
</html>